@model WebApplication2.Models.MentorshipSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MentorshipSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mentor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mentor.MentorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MentorshipSessionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
